* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(/images/BBQ.png);
    background-size: 420px;
    background-blend-mode: darken;
    background-color: rgb(230, 217, 217);

}


/* Navbar */
nav {
    display: flex;
    /* background-color: rgb(30, 24, 13); */
    max-width: 100%;
   

}


ul  {
    list-style: none;
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;

}


li {
    margin-left: 200px;
    font-size: 20px;

}

ul:hover {
    color: aqua;
}



a {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;

}

a:hover {
    background-color: rgb(245, 71, 71);
    transition: all 0.4s ease-in-out;
}



/* Body */

/* Home Page */
.header {
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
    text-align : center;
    background-color: rgb(187, 16, 50);
    color: white;
    margin-top: 270px;
    margin-left: 400px;
    margin-right: 400px;

}



/* About */
.Grandma {
    border-radius: 150px;
    border: 20px solid rgb(233, 55, 55);
    width: 200px;
    height: 220px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.paragraph {
    color: white;
    background-color: rgb(223, 55, 55);
    text-align: center;
    padding: 20px;
    margin: 20px 40px;
   line-height: 25px;
}

.paragraph::first-letter {
    color: rgb(0, 0, 0);
    font-size: 87px;
}

.Alabama {
    text-align: center;
    margin-top: 2px;
}

.Alabama2 {
    color: rgb(223, 55, 55)
}
/* Contact */
Form {
    border: 20px solid black;
    background-color: black;
    margin-top: 100px;
    margin-left: 490px;
    color: rgb(253, 253, 253);
    width: 420px;
    box-shadow: rgb(255, 1, 1) 0px 3px 8px;

}

.Input, .Input2  {
    display: flex;
    font-size: 20px;
    margin: 20px 80px;
}

.Input {
    width: 250px;
}



Form Label {
  display: flex;
  justify-content: center;

}



.contact {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 140px;
    font-size: 20px;
}

.Label {
   font-size: 30px;
}

.Form-Message {
    font-size: 30px;
}

.New-Paragraph {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}


/* Service Section */
.Center {
    display: flex;
    text-align: center;
    margin-left: 170px;
    margin-top: 200px;
    color: white;
}



.Card-Background {
    background-color: rgb(26, 30, 30);
    margin: 20px;
    box-shadow: 30%;
}



/*  */