* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(/images/BBQ.png);
    background-size: 420px;
    background-blend-mode: darken;
    background-color: rgb(173, 119, 119);

}


/* Navbar */
nav {
    display: flex;
    background-color: rgb(30, 24, 13);
    max-width: 100%;
   

}

ul  {
    list-style: none;
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;

}


li {
    margin-left: 240px;
    font-size: 20px;
 
}

a {
    color: white;
}

/* Body */

/* Home Page */
.header {
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
    text-align : center;
    background-color: rgb(187, 16, 50);
    color: white;
    margin-top: 270px;
    margin-left: 400px;
    margin-right: 400px;

}



/* About */
.Grandma {
    border-radius: 150px;
}


.paragraph {
    color: white;
    background-color: black;
    margin-left: 300px;
    margin-right: 300px;


}
/* Contact */
Form {
    border: 20px solid black;
    background-color: black;
    margin-top: 100px;
    margin-left: 490px;
    color: rgb(253, 253, 253);
    width: 420px;
    box-shadow: rgb(255, 1, 1) 0px 3px 8px;

}

.Input, .Input2  {
    display: flex;
    font-size: 20px;
    margin: 20px 80px;
}

.Input {
    width: 250px;
}



Form Label {
  display: flex;
  justify-content: center;

}



.contact {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 140px;
    font-size: 20px;
}

.Label {
   font-size: 30px;
}

.Form-Message {
    font-size: 30px;
}

.New-Paragraph {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}


/* Service Section */
.Center {
    display: flex;
    text-align: center;
    margin-left: 170px;
    margin-top: 200px;
    color: white;
}



.Card-Background {
    background-color: rgb(26, 30, 30);
    margin: 20px;
    box-shadow: 30%;
}



/*  */